
/* ----------------------------------------- */
/* formular
/* ----------------------------------------- */

.field {
	line-height: 1;
}
.field + .field {
	margin-top: 40px;
}

.field__label {
	display: block;
	margin-bottom: 15px;
	font-family: var(--font-script);
	font-size: 28px;
	color: var(--color-gold);
}


/* input, textarea */
.field__input {
	display: block;
	width: 100%;
	padding: 10px;
	font-family: var(--font-base);
	font-weight: 400;
	font-size: 20px;
	color: var(--color-blue);
	border: 1px solid var(--color-blue);
	outline-color: var(--color-gold);
}

/* popisek pod polem */
.field__description {
	margin: 10px 0 0 0;
	font-family: var(--font-base);
	font-weight: 400;
	font-size: 14px;
	color: var(--color-gold);
}

/* radio button */
.field__radio {
	font-family: var(--font-base);
	font-size: 20px;
}

.field__radio + .field__radio {
	margin-top: 10px;
}

.field__radio input {
	position: absolute;
	width: 0;
	height: 0;
	text-indent: -9999px;
	transform: scale(0);
	opacity: 0;
}

.field__radio label {
	display: flex;
	align-items: center;
}

.field__radio label::before {
	content: "";
	display: block;
	width: 30px;
	height: 30px;
	margin-right: 0.5em;
	border: 2px solid var(--color-gold);
	border-radius: 50%;
	box-shadow:
		inset 0 0 0 4px white,
		inset 0 0 0 0px white;
	transition: box-shadow 0.3s;
	cursor: pointer;
}

.field__radio input:checked + label::before {
	/* background-color: var(--color-blue); */
	box-shadow:
		inset 0 0 0 4px white,
		inset 0 0 0 20px var(--color-blue);
}

.field__radio-group--inline {
	display: flex;
	align-items: center;
}

.field__radio-group--inline .field__radio {
	margin-top: 0;
}
.field__radio-group--inline .field__radio + .field__radio {
	margin-left: 20px;
}


/* radio button - swatch (vzorek barvy, pozadí, apod.) */

.field__swatch {
	position: relative;
}

.field__swatch input {
	position: absolute;
	width: 0;
	height: 0;
	text-indent: -9999px;
	transform: scale(0);
	opacity: 0;
}

.field__swatch label::before {
	content: "";
	display: block;
	width: 100%;
	aspect-ratio: 1/1;
	border: 3px solid white;
	border-radius: 4px;
	box-shadow:	inset 0 0 0 2px white;
	transition: border-color 0.3s;
	background: no-repeat center center/cover;
	cursor: pointer;
}



.field__swatch input:checked + label::before {
	border-color: var(--color-gold);
}

.field__swatch-group {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
	gap: 5px;
}

.field__swatch-group--small {
	grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
}

.field__swatch-group--big {
	grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.field__swatch-group--round .field__swatch label:before {
	border-radius: 50%;
}

.field__swatch label.swatch--red::before 					{ background-image: var(--red-gradient); }
.field__swatch label.swatch--green::before 				{ background-image: var(--green-gradient); }
.field__swatch label.swatch--blue::before 				{ background-image: var(--blue-gradient); }
.field__swatch label.swatch--gold::before 				{ background-image: var(--gold-gradient); }
.field__swatch label.swatch--tree::before 				{ background-image: url(../../assets/backgrounds/tree.jpg); }
.field__swatch label.swatch--decorations::before 	{ background-image: url(../../assets/backgrounds/decorations.jpg); }
.field__swatch label.swatch--snow::before 				{ background-image: url(../../assets/backgrounds/snow.jpg); }

.field__swatch label.swatch--cover-gifts::before 	{
	background-color: var(--color-blue-active);
	background-image: url(../../assets/covers/gifts.svg);
}
.field__swatch label.swatch--cover-decorations::before 	{
	background-color: var(--color-blue-active);
	background-image: url(../../assets/covers/decorations.svg);
}
.field__swatch label.swatch--cover-snowflakes::before 	{
	background-color: var(--color-blue-active);
	background-image: url(../../assets/covers/snowflakes.svg);
}
.field__swatch label.swatch--cover-trees::before 	{
	background-color: var(--color-blue-active);
	background-image: url(../../assets/covers/trees.svg);
}

.error {
	text-align: center;
	border: 2px solid red;
	background-color: red;
	margin-bottom: 5px;
}